# Copyright (C) 2022 Broadcom. All rights reserved.
# The term "Broadcom" refers solely to the Broadcom Inc. corporate affiliate
# that owns the software below.
# This work is licensed under the OpenAFC Project License, a copy of which is
# included with this software program.

# Parameter values for Minikube cluster

components:
  default:
    imagePullPolicy: Always
  dispatcher:
    serviceType: NodePort
