#
# Copyright (C) 2021 Broadcom. All rights reserved. The term "Broadcom"
# refers solely to the Broadcom Inc. corporate affiliate that owns
# the software below. This work is licensed under the OpenAFC Project License,
# a copy of which is included with this software program
#
# Hash-pinned via:
#   docker run --rm -v "$(pwd)/<svc>/requirements.txt:/req.in:ro"
#     python:3.12-alpine3.21 sh -c
#     "apk add --no-cache gcc musl-dev python3-dev librdkafka-dev
#        postgresql-dev libffi-dev openssl-dev linux-headers expat-dev &&
#      pip install --quiet pip-tools &&
#      pip-compile --generate-hashes --allow-unsafe --output-file=- /req.in"
#

#
aio-pika==10.0.1


    # via -r afc_server.in
aiormq==7.0.0


    # via aio-pika
amqp==5.3.1


    # via kombu
annotated-doc==0.0.5


    # via fastapi
annotated-types==0.8.0


    # via pydantic
anyio==4.14.2


    # via starlette
asyncpg==0.31.0

























































    # via -r afc_server.in
billiard==4.2.4


    # via celery
celery==5.6.3


    # via -r afc_server.in
certifi==2026.7.22


    # via requests
charset-normalizer==3.5.1





























































































    # via requests
click==8.5.0


    # via
    #   celery
    #   click-didyoumean
    #   click-plugins
    #   click-repl
    #   uvicorn
click-didyoumean==0.3.1


    # via celery
click-plugins==1.1.1.2


    # via celery
click-repl==0.3.0


    # via celery
confluent-kafka==2.15.0



































    # via -r afc_server.in
fastapi==0.141.1


    # via -r afc_server.in
geoalchemy2==0.20.0


    # via -r afc_server.in
greenlet==3.5.5















































































    # via
    #   -r afc_server.in
    #   sqlalchemy
gunicorn==26.2.0


    # via -r afc_server.in
h11==0.16.0


    # via uvicorn
idna==3.19


    # via
    #   anyio
    #   requests
    #   yarl
kombu==5.6.2


    # via celery
multidict==6.7.1


















































































































































    # via yarl
packaging==26.3


    # via
    #   geoalchemy2
    #   gunicorn
    #   kombu
pamqp==4.0.1


    # via aiormq
prometheus-client==0.26.0


    # via -r afc_server.in
prompt-toolkit==3.0.53


    # via click-repl
propcache==0.5.2

























































































































    # via yarl
psycopg2-binary==2.9.12



































































    # via -r afc_server.in
pydantic==2.13.5


    # via
    #   -r afc_server.in
    #   fastapi
    #   pydantic-settings
pydantic-core==2.48.0
























































































































    # via pydantic
pydantic-settings==2.15.0


    # via -r afc_server.in
python-dateutil==2.9.0.post0


    # via celery
python-dotenv==1.2.3


    # via pydantic-settings
requests==2.34.2


    # via -r afc_server.in
six==1.17.0


    # via python-dateutil
SQLAlchemy==2.0.52


























































    # via
    #   -r afc_server.in
    #   geoalchemy2
starlette==1.6.0


    # via fastapi
typing-extensions==4.16.0


    # via
    #   anyio
    #   fastapi
    #   pydantic
    #   pydantic-core
    #   sqlalchemy
    #   starlette
    #   typing-inspection
typing-inspection==0.4.4


    # via
    #   fastapi
    #   pydantic
    #   pydantic-settings
tzdata==2026.3


    # via kombu
tzlocal==5.4.4


    # via celery
urllib3==2.7.0


    # via requests
uvicorn==0.52.4


    # via -r afc_server.in
vine==5.1.0


    # via
    #   amqp
    #   celery
    #   kombu
wcwidth==0.8.3


    # via prompt-toolkit
yarl==1.24.5








































































































    # via
    #   aio-pika
    #   aiormq
