#
# Copyright (C) 2023 Broadcom. All rights reserved. The term "Broadcom"
# refers solely to the Broadcom Inc. corporate affiliate that owns
# the software below. This work is licensed under the OpenAFC Project License,
# a copy of which is included with this software program
#

aio-pika==9.6.2
asyncpg==0.31.0
celery==5.6.3
confluent-kafka==2.6.1
fastapi==0.135.2
GeoAlchemy2==0.18.4
greenlet==3.3.2
gunicorn==25.3.0
prometheus-client==0.24.1
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic-settings==2.13.1
requests==2.32.5
SQLAlchemy==2.0.48
uvicorn==0.44.0
