#
# Copyright (C) 2023 Broadcom. All rights reserved. The term "Broadcom"
# refers solely to the Broadcom Inc. corporate affiliate that owns
# the software below. This work is licensed under the OpenAFC Project License,
# a copy of which is included with this software program
#

aio-pika==9.4.2
asyncpg==0.29.0
celery==5.4.0
confluent-kafka==2.1.1
fastapi==0.111.1
GeoAlchemy==0.7.2
GeoAlchemy2==0.17.0
greenlet==3.1.1
gunicorn==23.0.0
prometheus-client==0.17.1
psycopg2-binary==2.9.10
pydantic==1.10.21
requests==2.32.3
SQLAlchemy==1.4.54
uvicorn==0.30.1
