apiVersion: v1
kind: Secret
metadata:
  name: {{ .Chart.Name }}-postgres-secret
type: Opaque
data:
  # base64 encoded postgresql DSN for rcache user
  RCACHE_POSTGRES_DSN: cG9zdGdyZXNxbDovL3JjYWNoZV9wb3N0Z3Jlc191c2VyOnBzcWxfcGFzc3dvcmRAcHNxbF9ob3N0bmFtZS92aG9zdF9uYW1l
  # base64 encoded postgresql hostname
  POSTGRES_HOST: cHNxbF9ob3N0bmFtZQ==
  # base64 encoded postgresql username
  POSTGRES_USER: cG9zdGdyZXNfdXNlcg==
  # base64 encoded postgresql password
  POSTGRES_PASSWORD: cG9zdGdyZXNfdXNlcl9zX3BzcWxfcGFzc3dvcmQ=