apiVersion: v1
kind: Secret
metadata:
  name: {{ .Chart.Name }}-rmq-rcache-secret
type: Opaque
data:
  # base64 encoded amqp connection string for rcache
  RCACHE_RMQ_DSN: YW1xcDovL3JjYWNoZV91c2VyOnBhc3N3b3JkQHJhYmJpdF9tcV9ob3N0OjU2NzIvaG9zdA==