apiVersion: v1
kind: Secret
metadata:
  name: {{ .Chart.Name }}-webui-rat-api-secret
type: Opaque
stringData:
  ratapi.conf: |
    # Flask settings
    DEBUG = False
    PROPAGATE_EXCEPTIONS = False
    LOG_LEVEL = 'WARNING'
    SECRET_KEY = 'ABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGH'

    # Flask-SQLAlchemy settings
    SQLALCHEMY_DATABASE_URI = 'postgresql://postgres_user:psql_password@psql_hostname/vhost_name'

    # Flask-User settings
    USER_EMAIL_SENDER_EMAIL = 'admin@example.com'

    # RAT settings
    GOOGLE_APIKEY = 'ABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLM'
    HISTORY_DIR = '/mnt/nfs/rat_transfer/history'
    DEFAULT_ULS_DIR = '/mnt/nfs/rat_transfer/ULS_Database'
    AFC_APP_TYPE = 'server'