apiVersion: v1
kind: Secret
metadata:
  name: {{ .Chart.Name }}-rabbitmq-consumer-secret
data:
  # base64 encoded amqp connection string
  RabbitMqHost: YW1xcDovL3VzZXI6cGFzc3dvcmRAcmFiYml0X21xX2hvc3Q6NTY3Mi9ob3N0
