{
  "users": [
    {
      "name": "__BROKER_USER__",
      "password": "__BROKER_PWD__",
      "tags": ""
    },
    {
      "name": "__RCACHE_USER__",
      "password": "__RCACHE_RMQ_PWD__",
      "tags": ""
    }
  ],
  "vhosts": [
    {
      "name": "fbrat"
    },
    {
      "name": "rcache"
    }
  ],
  "permissions": [
    {
      "user": "__BROKER_USER__",
      "vhost": "fbrat",
      "configure": ".*",
      "write": ".*",
      "read": ".*"
    },
    {
      "user": "__RCACHE_USER__",
      "vhost": "rcache",
      "configure": ".*",
      "write": ".*",
      "read": ".*"
    }
  ]
}
