alembic==1.8.1
Flask==2.3.2
Flask-JSONRPC==1.0.2
Flask-Login==0.6.3
Flask-SQLAlchemy==2.5.1
Flask-User==1.0.2.2
Flask-WTF==1.2.1
Flask-Migrate==2.6.0
Flask-Script==2.0.5
Jinja2==3.1.5
json5==0.9.10
prettytable==3.5.0
prometheus-client==0.17.1
python_dateutil==2.8.2
pyxdg==0.28
email-validator==1.3.0
jwt==1.3.1
WsgiDAV==4.1.0
typeguard==2.13.3
celery==5.2.7
Werkzeug==3.0.6
gevent==23.9.1
pika==1.3.2

