#
# Copyright (C) 2021 Broadcom. All rights reserved. The term "Broadcom"
# refers solely to the Broadcom Inc. corporate affiliate that owns
# the software below. This work is licensed under the OpenAFC Project License,
# a copy of which is included with this software program
#
# Hash-pinned via:
#   docker run --rm -v "$(pwd)/cert_db/requirements.txt:/req.txt:ro"
#     python:3.12-alpine sh -c
#     "apk add -q --no-cache gcc musl-dev python3-dev libffi-dev openssl-dev build-base
#      pip download -q --no-cache-dir --dest /p -r /req.txt 2>/dev/null
#      for f in /p/*.whl /p/*.tar.gz; do [ -f \"\$f\" ] || continue;
#        n=\$(basename \"\$f\"); h=\$(sha256sum \"\$f\" | cut -d' ' -f1);
#        printf '%s sha256:%s\n' \"\$n\" \"\$h\"; done"
#
# Pinned to Alpine 3.21 librdkafka-dev==2.6.1; upgrade only when Alpine ships librdkafka>=2.7
alembic==1.19.1

amqp==5.3.1

annotated-types==0.8.0

bcrypt==5.0.0


billiard==4.2.4

bleach==6.4.0

blinker==1.9.0

celery==5.6.3

certifi==2026.7.22

cffi==2.1.1


charset-normalizer==3.5.1

click==8.5.0

click-didyoumean==0.3.1

click-plugins==1.1.1.2

click-repl==0.3.0

# Pinned: wsgidav 4.3.5 requires bcrypt<5
confluent-kafka==2.15.0

cryptography==50.0.1


defusedxml==0.7.1

dnspython==2.8.0

email-validator==2.3.0

eval-type-backport==0.4.0

Flask==3.1.3

Flask-JSONRPC==4.0.0

Flask-Login==0.6.3

Flask-Mail==0.10.0

Flask-Migrate==4.1.0

Flask-Principal==0.4.0

Flask-Security-Too==5.8.2



Flask-SQLAlchemy==3.1.1

Flask-WTF==1.3.0

gevent==26.8.0

greenlet==3.5.5

idna==3.19

itsdangerous==2.2.0

Jinja2==3.1.6

json5==0.15.0

kombu==5.6.2

libpass==1.9.3

Mako==1.4.1

MarkupSafe==3.0.3

mypy_extensions==1.1.0

numpy==2.4.6

packaging==26.3

passlib==1.7.4

pika==1.4.4

prettytable==3.18.0

prometheus-client==0.26.0

prompt_toolkit==3.0.53

psycopg2-binary==2.9.12

pycparser==3.0

pydantic==2.13.5

pydantic-core==2.48.0

pydantic-settings==2.15.0

PyJWT==2.13.0

python_dateutil==2.9.0.post0

python-dotenv==1.2.3

pyxdg==0.28

PyYAML==6.0.3

requests==2.34.2

setuptools==84.0.0

six==1.17.0

SQLAlchemy==2.0.52

typeguard==4.6.0

typing_extensions==4.16.0

typing_inspect==0.9.0

typing_inspection==0.4.4

tzdata==2026.3

tzlocal==5.4.4

urllib3==2.7.0

vine==5.1.0

wcwidth==0.8.3

webencodings==0.6.1

Werkzeug==3.1.8

wsgidav==4.3.5


WTForms==3.2.2

zope.event==6.2

zope.interface==8.6

