<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ config.get('USER_APP_NAME', 'AFC') }}</title>

    <!-- Bootstrap -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-5aXo8U60e2B3X/BvR2G8Rz/7B+qU0eXw10/1fV+7vD9j0+vXk1z0+1Xk1z0+1Xk1" crossorigin="anonymous">

    <style>
        hr { border-color: #cccccc; margin: 0; }
        .no-margins { margin: 0px; }
        .with-margins { margin: 10px; }
        .col-centered { float: none; margin: 0 auto; }
    </style>


    {% block extra_css %}{% endblock %}
  </head>


<body>
    {% block body %}
    <div id="header-div" class="clearfix with-margins">
        <div class="pull-left"><a href="/"><h1 class="no-margins">{{ config.get('USER_APP_NAME', 'AFC') }}</h1></a></div>
        <div class="pull-right">
            {% if current_user.is_authenticated %}
                {{ current_user.username or current_user.email }}
                &nbsp; | &nbsp;
                <a href="{{ url_for('user.logout') }}">{%trans%}Sign out{%endtrans%}</a>
            {% else %}
                <a href="{{ url_for('user.login') }}">{%trans%}Sign in{%endtrans%}</a>
            {% endif %}
        </div>
    </div>
    {% block menu %}
    <div id="menu-div" class="with-margins">
        <a href="/">{%trans%}Home page{%endtrans%}</a>
    </div>
    {% endblock %}
    <hr class="no-margins"/>

    <div id="main-div" class="with-margins">
    {% block flash_messages %}
        {%- with messages = get_flashed_messages(with_categories=true) -%}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category=='error' %}
                        {% set category='danger' %}
                    {% endif %}
                    <div class="alert alert-{{category}}">{{ message|safe }}</div>
                {% endfor %}
            {% endif %}
        {%- endwith %}
    {% endblock %}

    {% block main %}
        {% block content %}{% endblock %}
    {% endblock %}
    </div>

    <br/>
    <hr class="no-margins"/>
    <div id="footer-div" class="clearfix with-margins">
        <div class="pull-left">{{ config.get('USER_APP_NAME', 'AFC') }} v1.0</div>
        <div class="pull-right">&copy; 2023 MyCorp</div>
    </div>
    {% endblock %}



    {% block extra_js %}{% endblock %}

  </body>
</html>
