#
# Copyright (C) 2021 Broadcom. All rights reserved. The term "Broadcom"
# refers solely to the Broadcom Inc. corporate affiliate that owns
# the software below. This work is licensed under the OpenAFC Project License,
# a copy of which is included with this software program
#
alembic==1.18.4
confluent-kafka==2.6.1
numpy==2.4.4
prometheus-client==0.24.1
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic-settings==2.13.1
python_dateutil==2.9.0.post0
python-statsd==2.1.0
pytz==2026.1.post1
PyYAML==6.0.1
requests==2.32.5
setuptools==82.0.1
SQLAlchemy==2.0.48
