#
# Copyright (C) 2021 Broadcom. All rights reserved. The term "Broadcom"
# refers solely to the Broadcom Inc. corporate affiliate that owns
# the software below. This work is licensed under the OpenAFC Project License,
# a copy of which is included with this software program
#
# Hash-pinned via:
#   docker run --rm -v "$(pwd)/<svc>/requirements.txt:/req.in:ro"
#     python:3.12-alpine3.21 sh -c
#     "apk add --no-cache gcc musl-dev python3-dev librdkafka-dev
#        postgresql-dev libffi-dev openssl-dev cargo rust &&
#      pip install --quiet pip-tools &&
#      pip-compile --generate-hashes --allow-unsafe --output-file=- /req.in"
#

#
alembic==1.19.1


    # via -r uls.in
annotated-types==0.8.0


    # via pydantic
certifi==2026.7.22


    # via requests
charset-normalizer==3.5.1





























































































    # via requests
confluent-kafka==2.15.0



































    # via -r uls.in
greenlet==3.5.5















































































    # via sqlalchemy
idna==3.19


    # via requests
Mako==1.4.1


    # via alembic
markupsafe==3.0.3

























































































    # via mako
numpy==2.4.6








































































    # via -r uls.in
prometheus-client==0.26.0


    # via -r uls.in
psycopg2-binary==2.9.12



































































    # via -r uls.in
pydantic==2.13.5


    # via
    #   -r uls.in
    #   pydantic-settings
pydantic-core==2.48.0
























































































































    # via pydantic
pydantic-settings==2.15.0


    # via -r uls.in
python-dateutil==2.9.0.post0


    # via -r uls.in
python-dotenv==1.2.3


    # via pydantic-settings
python-statsd==2.1.0


    # via -r uls.in
pytz==2026.3.post1


    # via -r uls.in
pyyaml==6.0.3









































































    # via -r uls.in
requests==2.34.2


    # via -r uls.in
six==1.17.0


    # via python-dateutil
SQLAlchemy==2.0.52


























































    # via
    #   -r uls.in
    #   alembic
typing-extensions==4.16.0


    # via
    #   alembic
    #   pydantic
    #   pydantic-core
    #   sqlalchemy
    #   typing-inspection
typing-inspection==0.4.4


    # via
    #   pydantic
    #   pydantic-settings
urllib3==2.7.0


    # via requests

# The following packages are considered to be unsafe in a requirements file:
setuptools==84.0.0


    # via -r uls.in
