#
# Copyright (C) 2021 Broadcom. All rights reserved. The term "Broadcom"
# refers solely to the Broadcom Inc. corporate affiliate that owns
# the software below. This work is licensed under the OpenAFC Project License,
# a copy of which is included with this software program
#
# Hash-pinned via:
#   docker run --rm -v "$(pwd)/<svc>/requirements.txt:/req.in:ro"
#     python:3.12-alpine3.21 sh -c
#     "apk add --no-cache gcc musl-dev python3-dev librdkafka-dev
#        postgresql-dev libffi-dev openssl-dev cargo rust &&
#      pip install --quiet pip-tools &&
#      pip-compile --generate-hashes --allow-unsafe --output-file=- /req.in"
#

#
alembic==1.19.1


    # via -r als.in
annotated-types==0.8.0


    # via pydantic
asttokens==3.0.2


    # via icecream
certifi==2026.7.22


    # via requests
charset-normalizer==3.5.1





























































































    # via requests
colorama==0.4.6


    # via icecream
confluent-kafka==2.15.0



































    # via -r als.in
distinguishedname==1.0.2


    # via -r als.in
executing==2.2.1


    # via icecream
geoalchemy2==0.20.0


    # via -r als.in
greenlet==3.5.5















































































    # via sqlalchemy
icecream==2.2.0


    # via -r als.in
idna==3.19


    # via requests
lz4==4.4.5

























































    # via -r als.in
Mako==1.4.1


    # via alembic
markupsafe==3.0.3

























































































    # via mako
packaging==26.3


    # via geoalchemy2
postgis==1.0.4


    # via -r als.in
prometheus-client==0.26.0


    # via -r als.in
psycopg2-binary==2.9.12



































































    # via -r als.in
pydantic==2.13.5


    # via -r als.in
pydantic-core==2.48.0
























































































































    # via pydantic
pygments==2.21.0


    # via icecream
pyparsing==3.3.2


    # via -r als.in
python-dateutil==2.9.0.post0


    # via -r als.in
pytimeparse==1.1.8


    # via -r als.in
pytz==2026.3.post1


    # via -r als.in
pyyaml==6.0.3









































































    # via -r als.in
requests==2.34.2


    # via -r als.in
six==1.17.0


    # via python-dateutil
SQLAlchemy==2.0.52


























































    # via
    #   -r als.in
    #   alembic
    #   geoalchemy2
tabulate==0.10.0


    # via -r als.in
typing-extensions==4.16.0


    # via
    #   alembic
    #   pydantic
    #   pydantic-core
    #   sqlalchemy
    #   typing-inspection
typing-inspection==0.4.4


    # via pydantic
urllib3==2.7.0


    # via requests
