name: Regressions test remote CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2

# { check and preinstall commands used by the test
    - name: pre-install test-commands
      run: |
          which dig || sudo apt-get update && sudo apt-get install -y dnsutils
          which ssh-keyscan || sudo apt-get update && sudo  apt-get install -y openssh-client
# } check and preinstall commands used by the test

# { get public IP
    - name: get public IP
      run: |
          echo IP4=`dig +short myip.opendns.com @resolver1.opendns.com` >> $GITHUB_ENV
# }open get public IP


# { open ssh port {
    - name: Print Public IP
      run: |
        echo ${{ env.IP4 }}
# }open ssh port

# { Allow Security group rule to connect Github Actions to OpenAFC servers
    - name: Allow Security group rule to connect Github Actions to OpenAFC servers
      run: |
        aws ec2 authorize-security-group-ingress --group-id ${{ secrets.AWS_AFC_DEV_SEC_GROUP_ID }} --protocol tcp --port 22 --cidr ${{ env.IP4 }}/24
      env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
# } Allow Security group rule to connect Github Actions to OpenAFC servers

# { generate rand
    - name: generate rand
      run: |
          echo RAND=`date +"D_%d_%m_%y_T_%H_%M_%S_TZ_%Z"`_hash_`git rev-parse --short HEAD` >> $GITHUB_ENV

    - name: generate  workdir
      run: |
          echo WD=/opt/afc/test/openafc-dev_${{ env.RAND }} >> $GITHUB_ENV

    - name: generate  regression dir path
      run: |
          echo REGRD=tests/regression_${{ env.RAND }} >> $GITHUB_ENV
          echo LREGRD=tests/regression >> $GITHUB_ENV
# } generate rand

# test deployment of ssh keys to be used by ssh and rsync {
    - name: Write SSH keys
      run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.SSH_PRIVATE_KEY_GITHUB_AUTOMATION }}" > ~/.ssh/id_rsa
          host=${{ secrets.AFC_DEV_SERVER }}
          hosts="$(dig +short "$host" | grep -v '\.$' | sed -z 's|\n|,|g') $host"
          ssh-keyscan -H "$hosts" > ~/.ssh/known_hosts
# } test deployment of ssh keys to be used by ssh and rsync

# {test ssh connection
    - name: Test SSH connection
      run: |
          ssh -vvv ${{ secrets.SSH_USERNAME_GITHUB_AUTOMATION }}@${{ secrets.AFC_DEV_SERVER }} "echo 'SSH connection successful'"
# } test ssh connection

# rsync sources{
    - name: rsync sources
      run: |
          rsync -raz --delete ${{ github.workspace }}/ ${{ secrets.SSH_USERNAME_GITHUB_AUTOMATION }}@${{ secrets.AFC_DEV_SERVER }}:/${{ env.WD }} && ssh ${{ secrets.SSH_USERNAME_GITHUB_AUTOMATION }}@${{ secrets.AFC_DEV_SERVER }} cp -a ${{ env.WD }}/tests/regression ${{ env.WD }}/${{ env.REGRD }}
# }rsync sources

# clean srvr {
    - name: clean remote srvr
      run: |
        ssh ${{ secrets.SSH_USERNAME_GITHUB_AUTOMATION }}@${{ secrets.AFC_DEV_SERVER }} "sh -x ${{ env.WD }}/${{ env.REGRD }}/clean.sh ${{ env.WD }} ${{ env.RAND }}"
# } clean srvr

# close ssh port {
    - name: remove Security group rule that was added for this test
      if: ${{ always() }}
      run: |
        aws ec2 revoke-security-group-ingress --group-id ${{ secrets.AWS_AFC_DEV_SEC_GROUP_ID }} --protocol tcp --port 22 --cidr ${{ env.IP4 }}/24
      env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
# } close ssh port

# close srvr test port {
    - name: remove Security group rule that was added for this test
      if: ${{ always() }}
      run: |
        aws ec2 revoke-security-group-ingress --group-id ${{ secrets.AWS_AFC_DEV_SEC_GROUP_ID }} --protocol tcp --port ${{ env.TEST_PORT }} --cidr ${{ env.IP4 }}/24
      env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
# } close srvr test port
