
<head>
    <title>About</title>
    <style>
        hr { border-color: #cccccc; margin: 0; }
        .no-margins { margin: 0px; }
        .with-margins { margin: 10px; }
        .margin-left {margin-left: 2em; }
        .margin-bottom {margin-bottom: 0.7em; }
        h1 {color: rgb(18, 134, 223)}
        li {margin-left: 2em; margin-bottom: 0.7em;}
        body { background-color: rgb(234, 241, 243); }
    </style>
</head>

<body>
    <div id="main-div" class="with-margins">
    <p class="margin-bottom">Broadcom has instantiated an Automated Frequency Coordination (AFC) Service to enable 6 GHz Wi-Fi (e.g., Wi-Fi 6E, Wi-Fi 7) to operate at standard power indoors and outdoors. This AFC is designed to initially operate in the United States as authorized by the Federal Communications Commission (FCC).  The AFC may be expanded to operate in additional regulatory domains as they are authorized by those regulatory authorities. This website is used by Broadcom customers to manage standard power access points containing Broadcom chips 6 GHz Wi-Fi.
    </p>
    <p class="margin-bottom">Login on this site is done via single sign-on (SSO) at the <a href="https://support.broadcom.com">Broadcom Support website</a>.</p>
    <p class="margin-bottom">Process for Broadcom customers to request access to this Broadcom AFC website:</p>
        <ul>
          <li>If your organization does not have federated access to the Broadcom Support website: Visit the <a href="https://support.broadcom.com">Broadcom Support website</a> and register in case you don't have an account</li>
          <li>Fill out the Request Access to the Broadcom AFC Website form below </li>
          <li>Upon approval you will get an email with instructions on how to get onboard</li>
        </ul>

    </div>

</body>
